@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Lobster', cursive ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: dodgerblue url("space1.jpg")
    no-repeat center center fixed;
  background-color: #cccccc;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-weight: normal;
  text-shadow: 1px 1px 2px #082b34;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
}
